@page
@model Pages.Notifications.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Notification</h4>
<hr />

<!-- Display notification details -->
<p>
    <a asp-page="../NotificationDetails/Create" asp-route-notiid="@Model.Notification.Id">Add new Detail</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Notification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Details) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notification.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<!-- Confirm send notification -->
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4 class="text-danger">@TempData["NotificationError"]</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Notification.Id"/>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page-handler="Cancel" class="link-danger" asp-route-id="@Model.Notification.Id">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
