@page
@model Pages.Notifications.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].NotificationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notification[0].SenderNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Notification) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotificationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderNavigation.Username)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
