@page
@using X.PagedList.Mvc.Core
@model Pages.Supplies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].SupplyDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supply[0].Supplier)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Supply)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplyDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    <a asp-page="./Delete"
                   asp-route-productid="@item.ProductId"
                   asp-route-supplierid="@item.SupplierId"
                   asp-route-supplydate="@item.SupplyDate.Value.ToString("yyyyMMddHHmmss")">
                        Delete
                    </a>
                    @*@Html.ActionLink("Delete", "Delete", new { productid = item.ProductId, supplierid = item.SupplierId, supplydate = item.SupplyDate })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
@Html.PagedListPager( Model.Supply, pageIndex => Url.Page("Index", new { pageIndex }) )

