@page
@model WebApp.Pages.Staff.DetailsModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit";
    var session = HttpContextAccessor.HttpContext.Session;
    var username = session.GetString("Username");
    var role = session.GetString("Role");
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Staff</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.AvatarUrl)
        </dt>
        <dd class="col-sm-10">
            <img src="~/Images/@Model.Staff.AvatarUrl" alt="@Model.Staff.Username" class="img-thumbnail img-fluid" style="max-width:50%;" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Staff.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Staff.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Staff.Username">Edit</a> |
    @{
        if (role != null && role.Equals("Admin"))
        {
            <a asp-page="./Index">Back to List</a>
        }
    }
</div>
