@page
@model Pages.Bills.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.BillDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.BillDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Discount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Discount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.StaffUsernameNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.StaffUsernameNavigation.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Voucher)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Voucher.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bill.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
