@page
@model Pages.Bills.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4 class="text-danger">@TempData["BillError"]</h4>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bill.Id" />
            @*<div class="form-group">
                <label asp-for="Bill.Discount" class="control-label"></label>
                <input asp-for="Bill.Discount" class="form-control" />
                <span asp-validation-for="Bill.Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bill.VoucherId" class="control-label"></label>
                <input asp-for="Bill.VoucherId" class="form-control"/>
                <span asp-validation-for="Bill.VoucherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>

<a asp-page="../BillDetails/Create" asp-route-billId="@Model.Bill.Id">Create new detail</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails[0].UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails[0].SubTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails[0].Bill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bill.BillDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                <a asp-page="../BillDetails/Edit" asp-route-billid="@item.BillId" asp-route-productid="@item.ProductId">Edit</a>
                <a asp-page="../BillDetails/Delete" asp-route-billid="@item.BillId" asp-route-productid="@item.ProductId">Delete</a>
            </td> 
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-page="./Create" asp-page-handler="Cancel" asp-route-id="@Model.Bill.Id">Cancel</a>
</div>

<form method="post" asp-page="../Bills/Create" asp-page-handler="Confirm" asp-route-id="@Model.Bill.Id">
    <button class="btn btn-primary" type="submit">Confirm</button>    
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
