@page
@using X.PagedList.Mvc.Core
@model Pages.Products.IndexModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Index";
    var session = HttpContextAccessor.HttpContext.Session;
    string username = session.GetString("Username") ?? "";
    string role = session.GetString("Role") ?? "";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @{
                        if (item.Status == true)
                        {
                            <span>Active</span>
                        }
                        else
                        {
                            <span>Inactive</span>
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    <img src="~/Images/@item.ImageURL" alt="@item.ProductName"
                     class="img-thumbnail img-fluid" style="max-width:50%;" />
                </td>
                <td>
                    @{
                        if (role.Equals("Admin"))
                        {
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a><span> | </span>
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a><span> | </span>
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a><span> | </span>
                            <a asp-page="/Supplies/Create" asp-route-ProductId="@item.Id">Add quantity</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

Page @(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount

@Html.PagedListPager( Model.Products, pageIndex => Url.Page("Index", new { pageIndex }) )
