@page
@using X.PagedList.Mvc.Core
@model StockModel
@{
	ViewData["Title"] = "Stock";
}

<head>
	<link rel="stylesheet" href="~/css/stock.css" />
	<link rel="stylesheet" href="~/css/Paging.css" />
</head>

<div class="row row-container">
	<div class="col-8 p-4">
		<div class="row">
			<div class="col d-flex">
				<a class="navbar-toggle">
					<ion-icon class="open" name="menu-outline"></ion-icon>
					<ion-icon class="close" name="close-outline"></ion-icon>
				</a>
				<div id="header" class="ms-4">
					<h5 class="title">コーヒー Coffee</h5>
					<div class="subtitle">
						Coffee related products and equipments
					</div>
				</div>
				<div class="d-flex search-container flex-grow-1">
					<form class="">
						<div class="input-group">
							<input class="form-control"
								   type="search"
								   placeholder="Search"
								   aria-label="Search" />
							<button class="btn" type="submit">
								<ion-icon name="search-outline"></ion-icon>
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-12 mt-4">
				<h5 class="text-center text-danger">@TempData["Error"]</h5>
				<ul class="nav nav-pills categories">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">All products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-route-categoryid="1">Powdered coffee</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-route-categoryid="2">Coffee beans</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" asp-route-categoryid="3">Equipments</a>
					</li>
				</ul>
			</div>
			<div class="col-12 mt-4">
				<div class="row gx-5 gy-4 prod-container">
					@foreach (var item in Model.Products)
					{
						<div class="col-md-4">
							@if (@item.Status.Value == false)
						   {
							   <div class="card product disable">
								<img src="~/image/@item.ImageURL"
								 class="card-img-top"
								 alt="..." />
								<div class="card-body text-center">
									<h5 class="card-title fw-bold">@item.ProductName</h5>
									<p class="card-text d-flex flex-column">
										<span>@item.Price</span>
										<span>@item.Stock availabe in stock</span>
									</p>
									<div class="prod-action-btn d-flex gap-2">
										<a asp-page="/Products/Delete"
									   class="btn flex-fill"
									   asp-route-id="@item.Id">Enable</a>
									</div>

								</div>
								</div>
							}
							else
							{
								<div class="card product">
								<img src="~/image/@item.ImageURL"
								 class="card-img-top"
								 alt="..." />
								<div class="card-body text-center">
									<h5 class="card-title fw-bold">@item.ProductName</h5>
									<p class="card-text d-flex flex-column">
										<span>@item.Price</span>
										<span>@item.Stock availabe in stock</span>
									</p>
									<div class="prod-action-btn d-flex gap-2">
										<a asp-page="/Products/Delete"
									   class="btn flex-fill"
									   asp-route-id="@item.Id">Disable</a>
										<a asp-page="/Notifications/Create"
									   class="btn flex-fill"
									   asp-route-productid="@item.Id">Notify</a>
									</div>

								</div>
							</div>
							}
						</div>
					}
					<div class="col-12">
						@if (Model.category != null)
						{
							@Html.PagedListPager( Model.Products, pageIndex => Url.Page("Index", new { pageIndex, categoryid = Model.category.Id}) )
						}
						else
						{
							Html.PagedListPager(Model.Products, pageIndex => Url.Page("Index", new { pageIndex }));
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4 order-container p-0">
		@{
			@if (Model.NotiList.Count() <= 0)
			{
				<div class="empty-container">
					<img src="../img/background.png" alt="" srcset="" class="empty" />
					<h5 class="text-center w-100 fw-bold">
						You haven't made any notifications yet
					</h5>
				</div>
			}
			else
			{
				<div class="row p-4 flex-column overflow-auto">
					<div class="col-12 pb-2 order-table-container overflow-auto">
						<h5 class="fw-bold text-center">Your notifications</h5>
						@foreach (var item in Model.NotiList)
						{
							<div class="card card-noti mt-3 mb-3">
							<div class="noti card-header d-flex gap-2">
								<ion-icon name="file-tray-stacked-outline"></ion-icon>
								<span class="fw-bold">Products &middot; <small>@item.Notification.NotificationDate</small></span>
							</div>
							<div class="card-body pt-2 pb-2">
								<p class="card-text" style="font-size: 14px">
									You notify the admin that the stock of
									<b>@item.Product.ProductName</b> only have <b>@item.Product.Stock</b> items left.
								</p>
							</div>
						</div>
						}
					</div>
				</div>
			}
		}

	</div>
</div>